/**
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 */
/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 Log in and Register
2.0 Home Page
  2.1 Header
  2.2 Sidebar
  2.3 Content
  2.4 Footer
3.0 Buying cart

*/
/*--------------------------------------------------------------
1.0 Log in and Register
--------------------------------------------------------------*/
*
{
  font-family: Trebuchet MS;
}
#bg /*960x640*/
{
  height: 100vh;
  width: 100vw;
  background-image: url("../assets/fondo.png");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

#bg::before
{
  content: '';
  position: absolute;
  background-color: rgba(31, 31, 31, 0.5);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.form
{
  padding: 30px 5px 30px 5px;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 35vw;
  min-width: 300px;
  transform: translate(-50%,-50%);
  background-color: rgba(0, 0, 0, 0.25);
  border-radius: 15px;
}

h1
{
  margin: 15px;
  text-align: center;
  color: #f0f0f0;
}

img
{
  display: flex;
  width: 50%;
  margin: 0px auto;


}
.datos
{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}

.mail
{
	width: 25vw;
  min-width: 250px;
	background-color: #f0f0f0;
	border-radius: 8px;
	display: grid;
	grid-template-columns: 12% 88%;
  margin-bottom: 10px;

}

i
{
  text-align: center;
  padding-top: 10px;
	color: #acacac;
	font-size: 1.1rem;
}

.log-inp
{
  background: none;
	outline: none;
	border: none;
  line-height: 1;
  padding: 8px 8px 8px 0px;
  width: 21vw;
  border-style: none;
  border-radius: 5px;
  min-width: 210px;
}

.log-inp::placeholder
{
  font-family: Trebuchet MS;
}

input[type=checkbox]
{
  max-width: 10px;
  min-width: 10px;
}
label
{
  width: 25vw;
  min-width: 250px;
}
.apart
{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
}

#forgot
{
  margin-right: 5vw;
  display: flex;
  flex-direction: row-reverse;
}
a
{
  text-decoration: none;
}
.log-btn
{
  color:#ff9a00;
}
#forgot a
{
  font-size: 0.8em;
  text-align: right;
}

.btn-log
{
  min-width: 250px;
  cursor: pointer;
  margin: 10px;
  padding: 8px;
  border-radius: 25px;
  font-family: Trebuchet MS;
  width: 25vw;
  border-style: solid;
  border: 0px;
  outline: none;
  background-color: #ff9a00;
  color: #fff;
}

.btn-log:hover{
  background-color: #de7a09;
}

#new
{
  font-size: 0.8em;
  color: #f0f0f0;
}

.log-btn:hover
{
  color: #de7a09;
  text-decoration: underline;
}
/*--------------------------------------------------------------
2.0 Home page
--------------------------------------------------------------*/
/*--------------------------------------------------------------
2.1 Header
--------------------------------------------------------------*/
.header {
  background-color:#131921;
  height: 50px;
  display: grid;
  grid-template-columns: 20% 70% 10%;
  align-items: center;
}
.header img {
  display: flex;
  height: 35px;
  width: auto;
  margin: 0px auto;
}

.srch-inp {
  margin-left:10px;
  width: 80%;
  height: 32px;
  box-sizing: border-box;
  border-radius: 4px;
  border: none;
  outline: none;
  padding-left: 10px;
}
.srch-btn{
  background-color: transparent;
  border: none;
  outline:none;
  cursor: pointer;
}
/*--------------------------------------------------------------
2.1 Side bar
--------------------------------------------------------------*/
.sidebar {
  width: 18%;
  height: 100%;
  background: white;
  overflow: auto;
  display: block;
  float: left;

}
.sidebar ul li a{
  text-decoration:none ;
  color:#131921
}
.sidebar ul li,h2 {
  list-style: none;
  color:#131921;
  font-size: 17px;
  padding: 12px 10px;

}
.sidebar ul li:hover {
  background:#ffa43f ;
}


/*--------------------------------------------------------------
2.3 Content
--------------------------------------------------------------*/

body {
  background: white;
}

.products {
  display: flex;
  flex-wrap:wrap;
  margin-left: 18%;
  background-color:#eaeded;
  justify-content: space-evenly;
  text-align: center;
}
.product-container{
  width: 250px;
  height: 250px;
  padding: 20px;
  background: white;
  margin: 10px;
  border-radius: 8px;

}
.product-container img  {
  height: 150px;
  max-width:200px;
}
.product-container:hover{
  border: 1px solid #e19946 ;
}

.container{
  display:flex;
}

/*--------------------------------------------------------------
3.0 Buying cart
--------------------------------------------------------------*/

main{
	max-width: 100vw;
}

.cart-container{
	width: fit-content;
	margin: 0px auto;
}

.cart-container > *{
	border-collapse: collapse;
}

.cart-container>  table > thead >tr{
	background-color: #131921;
	color: #fff;
}

.cart-container>  table > thead >tr>td{
padding: 30px;
margin: 0px auto;
}

.cart-container > table{
	border: 1px solid #131921;
}
tr td{
	border: 1px solid #131921;
}

.cart-container > img{
	width: 100px;
}

td >input{
	/* width: 100%; */
	width: 60px;
	/* width: min-content; */
	height: 15px;
	background-color: #e6e6e6;
	border-radius: 10px;
	border: none;
}

.item-container > img{
	max-width: 320px;
	max-height: 200px;
}


.delete-btn{
	/* width: 100px; */
	/* size: 100px 100px; */
	margin: 0px auto;
	border: 1px solid;
	padding: 30px;

}

.delete-btn > i{
	font-size: 20px;
}

