* {
    margin: 0;
    padding: 0;
    font-family: "Trebuchet MS";
}
a {
    text-decoration:none ;
    color:#131921
}
body {
    padding: 0;
    margin: 0;
    background: white;
}
.header {
    background-color:#131921;
    height: 50px;
    display: grid;
    grid-template-columns: 15% 80% 5%;
    align-items: center;
}
.header img {
    display: flex;
    height: 35px;
    width: auto;
    margin: 0px auto;
}

input[type=text] {
    margin-left:10px;
    width: 75%;
    height: 32px;
    box-sizing: border-box;
    border-radius: 4px;
    border: none;
    outline: none;
    padding-left: 15px;
}
.welcome{
    color:white;
    display: inline-block;
}
button{
    background-color: transparent;
    border: none;
    outline:none;
    cursor: pointer;
    display: inline-block;
    padding-right: 15px;
}
.sidebar {
    width: 15%;
    height: 100%;
    background: white;
    overflow: auto;
    display: block;
    float: left;

}
.sidebar ul li a{
    text-decoration:none ;
    color:#131921
}
.sidebar ul li,h2 {
    list-style: none;
    color:#131921;
    font-size: 17px;
    padding: 12px 10px;

}
.sidebar ul li:hover {
    background:#ffa43f ;
}

.products {
    display: flex;
    flex-wrap:wrap;
    margin-left: 18%;
    background-color:#eaeded;
    justify-content: space-evenly;
    text-align: center;
}
.product-container{
  width: 250px;
  height: 250px;
  padding: 20px;
  background: white;
  margin: 10px;
  border-radius: 8px;
  /* overflow: hidden; */
  /* display: -webkit-box; */
  /* -webkit-line-clamp: 10;
  white-space: nowrap;
  word-wrap: break-word;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical; */
    /* max-width: 150px; */
}
.product-container img  {
    height: 150px;
    max-width:200px;
}
.product-container:hover{
    border: 1px solid #e19946 ;
}

.info {
   margin: 0 auto;
   border-collapse: collapse;
   width: 50%;
}

.info td, .info th {
    border: 1px solid #ddd;
    padding: 8px;
}

.info th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #ffa43f;
}
