/**
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 */

/* --------------------- Log in --------------------- */
body
{
  margin: 0;
  font-family: Trebuchet MS;
}
#bg /*960x640*/
{
  height: 100vh;
  width: 100vw;
  background-image: url("../assets/fondo.png");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

#bg::before
{
  content: '';
  position: absolute;
  background-color: rgba(31, 31, 31, 0.5);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.form
{
  padding: 30px 5px 30px 5px;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 35vw;
  min-width: 300px;
  transform: translate(-50%,-50%);
  background-color: rgba(0, 0, 0, 0.25);
  border-radius: 15px;
}

h1
{
  margin: 15px;
  text-align: center;
  color: #f0f0f0;
}

img
{
  display: flex;
  width: 50%;
  margin: 0px auto;


}
.datos
{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}

.mail
{
	width: 25vw;
  min-width: 250px;
	background-color: #f0f0f0;
	border-radius: 8px;
	display: grid;
	grid-template-columns: 12% 88%;
  margin-bottom: 10px;

}

i
{
  text-align: center;
  padding-top: 10px;
	color: #acacac;
	font-size: 1.1rem;
}

input
{
  background: none;
	outline: none;
	border: none;
  line-height: 1;
  padding: 8px 8px 8px 0px;
  width: 21vw;
  border-style: none;
  border-radius: 5px;
  min-width: 210px;
}

input::placeholder
{
  font-family: Trebuchet MS;
}

input[type=checkbox]
{
  max-width: 10px;
  min-width: 10px;
}
label
{
  width: 25vw;
  min-width: 250px;
}
.apart
{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
}

#forgot
{
  margin-right: 5vw;
  display: flex;
  flex-direction: row-reverse;
}

a
{
  text-decoration: none;
  color:#ff9a00;
}
#forgot a
{
  font-size: 0.8em;
  text-align: right;
}

input[type="submit"], button
{
  min-width: 250px;
  cursor: pointer;
  margin: 10px;
  padding: 8px;
  border-radius: 25px;
  font-family: Trebuchet MS;
  width: 25vw;
  border-style: solid;
  border: 0px;
  outline: none;
  background-color: #ff9a00;
  color: #fff;
}

input[type="submit"]:hover, button:hover{
  background-color: #de7a09;
}

#new
{
  font-size: 0.8em;
  color: #f0f0f0;
}

a:hover
{
  color: #de7a09;
  text-decoration: underline;
}


#login_form__email_message
/* .login_form__email_message */
{
  padding-bottom: 10px;
  color: #ff9a00;
}
