<!DOCTYPE html>
<html>
<head>
	<title>Carrito</title>
	<link rel="stylesheet" href="../css/normalize.css" />
    <link rel="stylesheet" href="../css/carrito.css"/>
	<link rel="stylesheet" href="../css/home.css"/>
	<link href="https://fonts.googleapis.com/css2" />
	<script src="https://kit.fontawesome.com/1b04830cf2.js" crossorigin="anonymous"></script>
</head>
<body>
	<header class="header">
		<div class="logo">
			<a href="home.html"><img src="../assets/logo.svg" alt="logo"></a>
		</div>
		<div class="search-box">
			<input name="name" type="text" placeholder="Search">
			<button type="submit" class="search-btn">
				<i class="fas fa-search" style="color: white;"></i>
			</button>
		</div>
		<div class="cart">
			<div class="cart">
				<a href="carrito.html"><img src="../assets/cart.png" alt="cart"></a>
			</div>
		</div>   
	</header>
	<div id="cart-container" classs="container my-5"><!-- comenzando código de carrito de compras-->
        <table width="100%">
            <thead>
                <tr> <!--encabezado de tablita-->
                    <td>Eliminar</td>
                    <td>Imagen</td>
                    <td>Producto</td>
                    <td>Precio</td>
                    <td>Cantidad</td>
                    <td>Total</td>
                </tr>
            </thead>
            <tbody> <!--contenido de la tabla-->
            	<tr>
            		<td><a href="#"><i class="fas fa-trash-alt"></i></a> </td>  <!--basurero-->
            		<td><img src="../assets/1.jpg" alt=""></td>
            		<td>
            			<h5>Zapatilla 1</h5>
            		</td>
            		<td>
            			<h5>S/225.00</h5>
            		</td>
            		<td>
            			<input class="w-25 pl-1" value="1" type="Número">
            		</td>
            		<td>
            			<h5>S/225.00</h5>
            		</td>
            	</tr>

            	<tr>
            		<td><a href="#"><i class="fas fa-trash-alt"> </td>  <!--basurero-->
            		<td><img src="../assets/2.jpg" alt=""></td>
            		<td>
            			<h5>Zapatilla 2</h5>
            		</td>
            		<td>
            			<h5>S/250.00</h5>
            		</td>
            		<td>
            			<input class="w-25 pl-1" value="1" type="Número">
            		</td>
            		<td>
            			<h5>S/250.00</h5>
            		</td>
            	</tr>

            	<tr>
            		<td><a href="#"><i class="fas fa-trash-alt"> </td>  <!--basurero-->
            		<td><img src="../assets/3.jpg" alt=""></td>
            		<td>
            			<h5>Zapatillas 3</h5>
            		</td>
            		<td>
            			<h5>S/70.00</h5>
            		</td>
            		<td>
            			<input class="w-25 pl-1" value="1" type="Número">
            		</td>
            		<td>
            			<h5>S/70.00</h5>
            		</td>
            	</tr>

            	<tr>
            		<td><a href="#"><i class="fas fa-trash-alt"> </td>  <!--basurero-->
            		<td><img src="../assets/4.jpg" alt=""></td>
            		<td>
            			<h5>Zapatillas 4</h5>
            		</td>
            		<td>
            			<h5>S/65.00</h5>
            		</td>
            		<td>
            			<input class="w-25 pl-1" value="1" type="Número">
            		</td>
            		<td>
            			<h5>S/65.00</h5>
            		</td>
            	</tr>

            	<tr>
            		<td><a href="#"><i class="fas fa-trash-alt"> </td>  <!--basurero-->
            		<td><img src="../assets/5.jpg" alt=""></td>
            		<td>
            			<h5>Zapatos 5</h5>
            		</td>
            		<td>
            			<h5>S/135.00</h5>
            		</td>
            		<td>
            			<input class="w-25 pl-1" value="1" type="Número">
            		</td>
            		<td>
            			<h5>S/135.00</h5>
            		</td>
            	</tr>
            </tbody>
        </table>
    </div>

    <section id="cart-bottom" class="container"> 
    	<div class="row">
    		<div class="coupon col-lg-6 col-md-6 col-12 mb-4"><!--Tabla de cupones-->
    			<h5>CUPÓN</h5>
    			<p>Ingresa tu cupón de descuento si tienes uno</p>
                <input type="text" placeholder="Codigo de cupon">
                <button>APLICAR CUPÓN</button>
    		</div>
    	</div>
        <div class="row">
            <div class="total col-lg-6 col-md-6 col-12"><!--Tabla de carrito total-->
                <h5>CARRITO TOTAL</h5>
                <div class="d-flex justify-content-between">
                    <h6>Subtotal</h6>
                    <p>S/215.00</p>
                </div>
                <div class="d-flex justify-content-between">
                    <h6>Envío</h6>
                    <p>S/255.00</p>
                </div>
                <hr class="second-hr">
                <div class="d-flex justify-content-between">
                    <h6>Total</h6>
                    <p>S/470.00</p>
                </div>
                <button class="ml-auto">PROCEDER A PAGAR</button>
            </div>
        </div>
    </section>

</body>
</html>