{%extends "home_page_layout.html"%}
<!--  -->
{%block title%}Home{%endblock%}
<!--  -->
{%block css%}
<link rel="stylesheet" href="{{url_for('static', filename='css/home.css')}}" />
<link rel="stylesheet" href="{{url_for('static', filename='css/carrito.css')}}" />
{%endblock%}{%block header%}
<header class="header">
	<div class="logo">
		<a href="home"
			><img src="{{url_for('static', filename='assets/logo.svg')}}" alt="logo"
		/></a>
	</div>
	<div class="search-box">
		<input name="name" type="text" placeholder="Search" />
		<button type="submit" class="search-btn">
			<i class="fas fa-search" style="color: white"></i>
		</button>
	</div>
	<div class="cart">
		<div class="cart">
			<a href="carrito"
				><img src="{{url_for('static', filename='assets/cart.png')}}" alt="cart"
			/></a>
		</div>
	</div>
</header>
{%endblock%}{%block content%}
	<div id="cart-container" classs="container my-5"><!-- comenzando código de carrito de compras-->
        <table width="100%">
            <thead>
                <tr> <!--encabezado de tablita-->
                    <td>Eliminar</td>
                    <td>Imagen</td>
                    <td>Producto</td>
                    <td>Precio</td>
                    <td>Cantidad</td>
                    <td>Total</td>
                </tr>
            </thead>
            <tbody> <!--contenido de la tabla--> 	
				{%for product in products%}
				<tr></tr>
					<td><a href="#"><i class="fas fa-trash-alt"></i></a> </td>  <!--basurero-->
					<td><img src="images/{{product.filename}}" alt=""></img></td>
					<td>
						<h5>{{product.title}}</h5>
					</td>
					<td>
						<h5></h5>
					</td>
					<td>
						<input class="w-25 pl-1" value="1" type="Número">
					</td>
					<td>
						<h5>{{product.price}}</h5>
					</td>
				</tr>
				{%endfor%}
            </tbody>
        </table>
    </div>
{%endblock%}
