{%extends "auth_page_layout.html"%}
<!--  -->
{%block title%}Register{%endblock%}
<!--  -->
{%block head%}

<link rel="stylesheet" href="{{url_for('static', filename='css/normalize.css')}}" />
<link rel="stylesheet" href="{{url_for('static', filename='css/index.css')}}" />

<link href="https://fonts.googleapis.com/css2" />
<script src="https://kit.fontawesome.com/1b04830cf2.js" crossorigin="anonymous"></script>

{%endblock%} {%block body%}
<div id="bg">
	<div class="form">
		<img src="{{url_for('static', filename='assets/logo.svg')}}" />
		<h1>Iniciar sesión</h1>
		<form id="login_form" class="datos" action="{{url_for('index')}}" method="post">
			<span id="error_message_1" class="error_message"></span>
			<span id="error_message_2" class="error_message"></span>
			<div class="mail">
				<i class="fas fa-user"></i>
				<input id="login_form__email" type="email" name="email" placeholder="Email" />
			</div>
			<div class="mail">
				<i class="fas fa-lock"></i>
				<input
					id="login_form__password"
					type="password"
					name="password"
					placeholder="Contraseña"
				/>
			</div>
			<span id="forgot"><a href="">¿Olvidaste la contraseña?</a></span>
			<div class="apart">
				<button id="submit">Ingresar</button>
				<span id="new">¿No tienes una cuenta? <a href="register">Crea una.</a></span>
			</div>
		</form>
	</div>
</div>
<script src="{{url_for('static', filename='js/login.js')}}"></script>

{%endblock%}
