{%extends "auth_page_layout.html"%}
<!--  -->
{%block title%}Register{%endblock%}
<!--  -->
{%block head%}

<link rel="stylesheet" href="{{url_for('static', filename='css/normalize.css')}}" />
<link rel="stylesheet" href="{{url_for('static', filename='css/index.css')}}" />

<link href="https://fonts.googleapis.com/css2" />
<script src="https://kit.fontawesome.com/1b04830cf2.js" crossorigin="anonymous"></script>

{%endblock%} {%block body%}
<div id="bg">
	<div class="form">
		<img class="logo-log" src="{{url_for('static', filename='assets/logo.svg')}}" />
		<!-- <img src="{{url_for('static', filename='assets/logo.svg')}}" /> -->

		<h1>Registrarse</h1>
		<form id="login_form" action="{{url_for('login')}}" method="post">
			<div class="datos">
				<span id="error_message_general" class="error_message"></span>
				<span id="error_message_username" class="error_message"></span>
				<span id="error_message_email" class="error_message"></span>
				<span id="error_message_password_1" class="error_message"></span>
				<span id="error_message_password_2" class="error_message"></span>
				<div class="mail">
					<i class="fas fa-user"></i>
					<input class="log-inp" type="text" name="username" placeholder="Tu usuario" />
				</div>
				<div class="mail">
					<i class="fas fa-envelope"></i>
					<input
						class="log-inp"
						type="email"
						name="email"
						placeholder="ejemplo@domain.com"
					/>
				</div>
				<div class="mail">
					<i class="fas fa-lock"></i>
					<input
						class="log-inp"
						type="password"
						name="password"
						placeholder="Crea una contraseña"
					/>
				</div>
				<div class="mail">
					<i class="fas fa-lock"></i>
					<input
						class="log-inp"
						type="password"
						placeholder="Repite tu contraseña"
						name="repeat_password"
					/>
				</div>
				<div class="mail">
					<i class="fas fa-lock"></i>
					<input class="log-inp" name="birthday" type="date" />
				</div>
			</div>

			<div class="apart">
				<button id="submit" class="btn-log">Registrarse</button>
				<label
					><input type="checkbox" /><span class="new">
						Acepto los <a class="log-btn" href="">Términos y Condiciones</a> y la
						<a class="log-btn" href="">Política de Privacidad</a>.</span
					></label
				>
				<span class="new"
					>¿Ya tienes una cuenta?
					<a class="log-btn" href="login">Inicia sesión.</a></span
				>
			</div>
		</form>
	</div>
</div>

<script src="{{url_for('static', filename='js/register.js')}}"></script>
{%endblock%}
