{%extends "home_page_layout.html"%}
<!--  -->
{%block title%}Welcome{%endblock%}
<!--  -->
{%block css%}
<link rel="stylesheet" href="{{url_for('static', filename='css/home.css')}}" />
{%endblock%} {%block header%}
<header class="header">
	<div class="logo">
		<a href="home"
			><img src="{{url_for('static', filename='assets/logo.svg')}}" alt="logo"
		/></a>
	</div>
	<div class="search-box">
		<input name="name" type="text" placeholder="Search" />
		<button type="submit" class="search-btn">
			<i class="fas fa-search" style="color: white"></i>
		</button>
		{% if log %}
		<a href="{{url_for('profile')}}"><h3 class="welcome">Welcome {{user}}</h3></a>
		{% endif %}
	</div>
	<div class="cart">
		<div class="cart">
			<a href="{{url_for('carrito')}}"
				><img src="{{url_for('static', filename='assets/cart.png')}}" alt="cart"
			/></a>
		</div>
	</div>
</header>
{%endblock%}{%block content%}
<div class="contents">
	<div id="insert_guide" class="products"></div>
</div>

<footer id="load_signal">
	<div class="foot">
		<p>
			<a href="home"
				><img src="{{url_for('static', filename='assets/logo.svg')}}" alt="logo"
			/></a>
		</p>
		<ul>
			<li>About us</li>
			<li>Community</li>
			<li>Work with us</li>
			<li>Terms</li>
			<li>Privacy</li>
		</ul>
		<ul>
			<li>Facebook</li>
			<li>Instagram</li>
			<li>Twitter</li>
			<li>LinkedIn</li>
		</ul>
	</div>
</footer>

<script src="{{url_for('static', filename='js/welcome.js')}}"></script>

{%endblock%}
