{%extends "home_page_layout.html"%}
<!--  -->
{%block title%}Welcome{%endblock%}
<!--  -->
{%block css%}
<link rel="stylesheet" href="{{url_for('static', filename='css/home.css')}}" />
{%endblock%} {%block header%}
<header class="header">
	<div class="logo">
		<a href="home"
			><img src="{{url_for('static', filename='assets/logo.svg')}}" alt="logo"
		/></a>
	</div>
	<div class="search-box">
		<input name="name" type="text" placeholder="Search" />
		<button type="submit" class="search-btn">
			<i class="fas fa-search" style="color: white"></i>
		</button>
		{% if log %}
		<h3 class="welcome">Welcome {{user}}</h3>
		{% endif %}
	</div>
	<div class="cart">
		<div class="cart">
			<a href="{{url_for('carrito')}}"
				><img src="{{url_for('static', filename='assets/cart.png')}}" alt="cart"
			/></a>
		</div>
	</div>
</header>
{%endblock%}{%block content%}
<div class="contents">
	<div class="products">
		{%for product in products%}
		<a class="product-ref" href="{{url_for('carproduct',filename = product.filename)}}">
			<div class="product-container">
				<i class="fa-regular fa-cart-shopping"></i>
				<img src="images/{{product.filename}}"></img>
				<p>{{product.title}}</p>
				<p>{{product.description}}</p>
				<p>{{product.price}}</p>
			</div>
		</a>
		{%endfor%}
	</div>
</div>
{%endblock%}